* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

textarea {
  resize: none;
  height: 200px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  color: transparent;
  caret-color: black;
  font-size: large;
  white-space: break-spaces;
}

.highlight {
  overflow: hidden;
  pointer-events: none;
  font-size: large;
  position: absolute;
  top: 0;
  overflow-x: auto;
  height: 200px;
  width: 300px;
  -webkit-overflow-scrolling: touch;
}

span {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(43, 43, 43);
  background: rgb(47, 114, 202);
}

::selection {
  color: rgb(43, 43, 43);
  background: rgb(107, 162, 235);
}
